body, input, table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

.green {
	color:##3FBF7F;
}

.red {
	color:##BF3F3F;
}

#notificationArea {
	padding-top: 2rem;
}

#itemsListTable {
	width:100%;
	border:1px solid #999;
}

#itemsListTable th {
	background-color: #ddd;
	font-weight: bold;
	font-size: 1rem;
}